body {
    font-family: Arial, sans-serif;
}

.text_body {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 10px;
    background-color: bisque;
    border-radius: 5px;
}

input[type="text"] {
    width: 70%;
    padding: 8px;
}

#taskInput{
    width: 400px;
    height: auto;
    border-radius: 5px;
}

#dateInput{
    width: 400px;
    height: auto;
    border-radius: 5px;
}

button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.delete-btn {
    margin-left: 10px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}